[board_pins BTT_GenV10]
mcu: mcu
aliases:
#stepper drivers breakout
    M0_STEP=PF0, M0_DIR=PF1, M0_EN=PD7, M0_STOP_0=PE5, M0_STOP_1=PE4,
    M1_STEP=PF6, M1_DIR=PF7, M1_EN=PF2, M1_STOP_0=PJ1, M1_STOP_1=PJ0,
    M2_STEP=PL3, M2_DIR=PL1, M2_EN=PK0, M2_STOP_0=PD3, M2_STOP_1=PD2,
    M3_STEP=PA4, M3_DIR=PA6, M3_EN=PA2,
    M4_STEP=PC1, M4_DIR=PC3, M4_EN=PC7,
    
#SPI interface
    SPI_SS=PB0, SPI_SCK=PB1, SPI_MOSI=PB2, SPI_MISO=PB3,
    
#Power outputs
    FAN1=PH6,
    HE0=PB4, HE1=PH4, HB=PH5,
    
#Sensors/endstops inputs
    TE0=PK5, TE1=PK7, TB=PK6,
    
# Common EXP1 header found on many "all-in-one" ramps clones
    EXP1_1=PC0, EXP1_3=PH0, EXP1_5=PA1, EXP1_7=PA5, EXP1_9=<GND>,
    EXP1_2=PC2, EXP1_4=PH1, EXP1_6=PA3, EXP1_8=PA7, EXP1_10=<5V>,
# EXP2 header
    EXP2_1=SPI_MISO, EXP2_3=PC6, EXP2_5=PC4, EXP2_7=PL0, EXP2_9=<GND>,
    EXP2_2=SPI_SCK, EXP2_4=SPI_SS, EXP2_6=SPI_MOSI, EXP2_8=<RST>, EXP2_10=PG0,

#Servos
    SERVO1_1=PB5, SERVO1_2=PH3, SERVO2_1=PE3, SERVO2_2=PG5, 
#AUX1
    AUX1_1=<5V>, AUX1_3=<GND>, AUX1_5=PF3, AUX1_7=PF4,
    AUX1_2=<5V>, AUX1_4=<GND>, AUX1_6=PE1, AUX1_8=PE0,
#AUX2
    AUX2_1=<5V>, AUX2_3=PF5, AUX2_5=PK2, AUX2_7=PL5, AUX2_9=PK4,
    AUX2_2=<GND>, AUX2_4=PK1, AUX2_6=PG1, AUX2_8=PL7, AUX2_10=PK3,
#AUX3
    AUX3_1=<5V>, AUX3_3=SPI_MISO, AUX3_5=SPI_SCK, AUX3_7=<GND>,
    AUX3_2=<GND>, AUX3_4=SPI_MOSI, AUX3_6=SPI_SS, AUX3_8=<NC>,
#WIFI
    WIFI1=<5V>, WIFI2=<GND>, WIFI3=EXP1_4, WIFI4=EXP1_3,
#MSD
    MSD1=<NC>, MSD3=<NC>, MSD5=<NC>, MSD7=<GND>, MSD9=<5V>,
    MSD2=PA0, MSD4=PC5, MSD6=SPI_SCK, MSD8=SPI_MOSI, MSD10=SPI_MISO,
#I2C
    I2C1=<5V>, I2C2=<GND>, I2C3=EXP1_4, I2C4=EXP1_3